jobs:
  lint-and-test:
    name: "Lint and Test (Python ${{ matrix.python }})"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [ "3.10", "3.11", "3.12", "3.13" ]
    env:
      UV_PYTHON: ${{ matrix.python }}
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v2
      - uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Install dependencies
        run: just sync 
      - name: Build
        run: just build
      - name: Verify
        run: just verify
